<!-- src/app/contest-details/contest-details.component.html -->
<!-- src/app/contest-details/contest-details.component.html -->

<div class="contest-container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav class="sidenav" mode="side" opened>
        <!-- Sidebar content (list of questions) goes here -->
        <mat-nav-list>
            <button mat-raised-button routerLink="/contests" style="margin-left: 15px;">
                <mat-icon>arrow_back</mat-icon>
                All Contest
            </button>
          <mat-list-item *ngFor="let question of questions" (click)="selectQuestion(question)">
            {{ question.title }}
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <!-- Main content area for question details -->
        <div class="question-details">
          <h2>{{ selectedQuestion?.title }}</h2>
          <p>Difficulty Level: {{ selectedQuestion?.difficulty }}</p>
          <p>Description: {{ selectedQuestion?.description }}</p>
          <p>Question Content: {{ selectedQuestion?.content }}</p>
          <p>Test Cases:</p>
          <div *ngFor="let testCase of selectedQuestion?.testCases">
            <pre>{{ testCase }}</pre>
          </div>
  
          <p>Sample Input:</p>
          <div *ngFor="let input of selectedQuestion?.sampleInputs">
            <pre>{{ input }}</pre>
          </div>
  
          <p>Sample Output:</p>
          <div *ngFor="let output of selectedQuestion?.sampleOutputs">
            <pre>{{ output }}</pre>
          </div>
  
          <mat-form-field>
            <textarea matInput placeholder="Your code here..." [(ngModel)]="code"></textarea>
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="submitCode()" style="margin-right: 10px;">
            <mat-icon>play_arrow</mat-icon>
            Run
        </button>
          <button mat-raised-button color="primary" (click)="submitCode()">
            <mat-icon>cloud_upload</mat-icon>
            Submit
        </button>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  